.body {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding-top: 5%;
}
.form input {
  padding: 2%;
  border: 1px solid black;
}
.teams-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-card {
  border: 5px solid black;
  width: 45%;
  margin: 1%;
  padding-bottom: 2%;
}
.button-group {
  display: flex;
  justify-content: space-evenly;
}
.ranking {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}